[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/ucb-bar/rocket-chip.git
[submodule "testchipip"]
	path = testchipip
	url = https://github.com/ucb-bar/testchipip.git
[submodule "icenet"]
	path = icenet
	url = git@github.com:firesim/icenet.git
[submodule "sifive-blocks"]
	path = sifive-blocks
	url = https://github.com/sifive/sifive-blocks.git
